<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
    <h1 class="xx">User Register</h1>
    <form method="post" action="/register">
        <div>
            Username:
            <input type="text" name="username">
        </div>
        <div>
            Password:
            <input type="password" name="password">
        </div>
        <div>
            Gender:
            <input type="radio" name="gender" value="1"> Male
            <input type="radio" name="gender" value="0"> Female
        </div>
        <div>
            Hobby:
            <input type="checkbox" name="hobby" value="10"> Basketball
            <input type="checkbox" name="hobby" value="20"> Soccer
            <input type="checkbox" name="hobby" value="30"> Tennis
        </div>
        <div>
            City:
            <select name="city">
                <option value="beijing">Beijing</option>
                <option value="shanghai">Shanghai</option>
                <option value="shenzhen">Shenzhen</option>
            </select>
        </div>
        <div>
            Areas:
            <select name="areas" multiple>
                <option value="100">Computer Science</option>
                <option value="200">Mathematics</option>
                <option value="300">Statistic</option>
            </select>
        </div>
        <div>
            Remark:
            <textarea name="remark"></textarea>
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>