<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通（一级标题）</h1>
    <div>
        <span style="color: red">时间：</span>
        <span>2022-06-19</span>
    </div>
    <h2>陕西联通（二级标题）</h2>
    <div>陕西联通分公司成立于2020年</div>
    <h3>西安联通（三级标题）</h3>
    <div>您的电话号码已欠费</div>
    <div>请尽早至营业厅缴费（div 为块类标签，一个站一行）</div>
    <span>您的电话欠费：</span><span>160元（span为行内标签，不换行）</span>
    <div>
        <a href="http://www.woi029.com/">缴费链接</a>
    </div>
    <a href="/get/news">查看更多</a>

    <h1>外部图片</h1>
    <div>
        <img style="height: 200px;width: 200px" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2020/08/20/0/FNM_100120-Ultimate-Beef-Stew_s4x3.jpg.rend.hgtvcom.826.620.suffix/1597931275143.jpeg"
    </div>
    <h1>自己的图片</h1>
    <img style="width: 75%" src="/static/2022spring.png"
</body>
</html>