<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>User Register</h1>
    <div>
        Username：<input type="text">
    </div>
    <div>
        Password：<input type="password">
    </div>
    <div>
        Gender:
        <input type="radio" name="sex">Male
        <input type="radio" name="sex">Female
    </div>
    <div>
        Hobby：
        <input type="checkbox">basketball
        <input type="checkbox">soccer
        <input type="checkbox">ping-pong
    </div>
    <div>
        City：
        <select>
            <option>Beijing</option>
            <option>Shanghai</option>
            <option>Shenzhen</option>
        </select>
    </div>
    <div>
        Area:
        <select multiple>
            <option>CS</option>
            <option>Math</option>
            <option>Statistic</option>
        </select>
    </div>
    <div>
        Remark:
        <textarea></textarea>
    </div>
    <div>
        <input type="button" value="submit">
        <input type="submit" value="submit">
    </div>
</body>
</html>